.summary {
  width: 100%;
  height: 30vh;
  background-image: linear-gradient(to bottom left,  #e1c6ff, #78767c);
}

.summary h1 {
  margin: 0;
  padding-top: 3rem;
  font-size: 2rem;
  text-align: center;
  text-shadow: 0 3px 10px rgb(82, 82, 82);
  color: #e2e2e2;
}

@media (min-width: 768px) {
  .summary h1 {
    font-size: 5rem;
  }
}